/* ? main part  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto";
}
:root {
  --text-color: #fff;
  --blog-heading: #508d69;
  --blog-background--color: rgba(0,0,0,.02);
  --paragraph-color:rgba(0,0,0,.6);
  --icon-btn--color: #a41f30;
}

/* Blog section start here */
.blog-section {
  margin-top: 28rem;
  padding-top: 0rem;
  & .blog-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    & .blog-heading {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 2.4rem;
      width: 100%;
      padding: 3rem;
      margin-bottom: 3rem;
      text-align: center;
      & .color-1 {
        color: var(--icon-btn--color);
      }
    }
    & .blog-contents {
      cursor: pointer;
      display: flex;
      justify-content: center;
      gap: 2rem;
      & .blog-1 {
        height: 50rem;
        width: 40rem;
        border-radius: 1rem;
        background-color: var(--blog-background--color);
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;

        & img {
          height: 60%;
          width: 70%;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top-right-radius: 1rem;
          border-top-left-radius: 1rem;
        }

        & .content-heading {
          padding: 2rem 0rem 0rem 2rem;
          font-size: 2rem;
        }
        & p {
          text-align: left;
          font-size: 1.8rem;
          color:var(--paragraph-color);
          padding: 1rem 0rem 0rem 2rem;
        }
      }
    }
    & .blog-action {
      cursor: pointer;
      margin-top: 4rem;
      display: flex;
      justify-content: center;

      & .fa-solid {
        font-size: 4rem;
        color: var(--icon-btn--color);
      }
    }
  }
}
/* Blog section end here */
