/*  ? Main part  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto";
}
:root {
  --text-color: #fff;
  --sub-content--color: #b6babe;
  --sub-content-black: #000;
  --hover-icon--color: #6db9ef;
  --icon-color: #b6babe;
}

/* ? Bod section start here */
.bod-section {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin-top: 36rem;
  gap: 6rem;
  & .bod-heading--section {
    font-size: 3.6rem;
    text-align: center;
    font-weight: 300;
    text-transform: capitalize;
  }
  & .bod-content--section {
    margin: 0rem 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    & .content-section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & .logo-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
        & .logo {
          & img {
            height: 23rem;
            width: 23rem;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
          }
        }
        & .social-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          margin-top: 0.2rem;
          & a {
            color: var(--icon-color);
            font-size: 2.5rem;
          }
        }
      }
      & .dir-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        & .social-icon {
          display: flex;
          gap: 0.4rem;
          & a {
            font-size: 2rem;
          }
        }
        & .main-heading {
          font-weight: 300;
          font-size: 2rem;
        }
        & .sub-heading {
          font-size: 1.8rem;
          color: var(--sub-content--color);
        }
        & p {
          font-size: 1.6rem;
          text-align: justify;
          color: var(--sub-content--black);
        }
      }
    }
  }
}

.bod-content--section .sub-content--section {
  display: flex;
  gap: 15rem;
}
.bod-content--section .sub-content--section .sub-content--one .logo-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bod-content--section
  .sub-content--section
  .sub-content--one
  .logo-info
  .social-icon
  a {
  font-size: 2.5rem;
  color: var(--icon-color);
}

.bod-content--section
  .sub-content--section
  .sub-content--one
  .logo-info
  .logo
  img {
  height: 25rem;
  width: 25rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.bod-content--section .sub-content--section .sub-content--one .dir-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bod-content--section
  .sub-content--section
  .sub-content--one
  .dir-info
  .social-icon {
  display: flex;
  gap: 0.4rem;
}

.bod-content--section
  .sub-content--section
  .sub-content--one
  .dir-info
  .social-icon
  a {
  font-size: 2rem;
}

.bod-content--section
  .sub-content--section
  .sub-content--one
  .dir-info
  .main-heading {
  font-weight: 300;
  font-size: 2rem;
}

.bod-content--section
  .sub-content--section
  .sub-content--one
  .dir-info
  .sub-heading {
  font-size: 1.8rem;
  color: var(--sub-content--color);
}

/* ? BoD section end here */
/* * Media QUERY */
@media (max-width: 1220px) {
  html {
    font-size: 54%;
  }
}

@media (max-width: 998px) {
  .bod-section .bod-content--section {
    margin: 0rem 6rem;
  }
  .bod-section .bod-content--section .content-section .logo-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 820px) {
  .bod-section .bod-content--section {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 600px) {
  .bod-section .bod-content--section {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 5rem;
  }
  .bod-section .bod-content--section .sub-content--section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

@media (max-width: 420px) {
  .bod-section .bod-content--section .sub-content--section {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 280px) {
  .bod-section .bod-content--section .content-section {
    display: flex;
    flex-direction: column;
  }
}
