/* main part  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto";
}
:root {
  --text-color: #fff;
}

/* ? Bod section start here */

.bod-section {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  margin-top: 4rem;
  gap: 6rem;
  & .bod-heading--section {
    font-size: 4rem;
    text-align: center;
    text-transform: capitalize;

    /* &::after,
    &::before {
      display: inline-block;
      content: "";
      width: 4rem;
      margin: 0 1rem;
      border-top: 0.8rem solid #b34549;
      transform: translateY(-1rem);
      -webkit-transform: translateY(-1rem);
      -moz-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
      -o-transform: translateY(-1rem);
    } */

    & .color {
      color: #3081d0;
    }
  }

  & .bod-content--section {
    margin: 0rem 16rem;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    place-items: center;
    gap: 2rem;

    & .content-section {
      display: flex;
      gap: 2rem;
      & .logo-info {
        display: flex;
        flex-direction: column;
        gap:.1rem;
        & .logo {
          & img {
            height: 12rem;
            width: 12rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }
        }
        & .social-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          margin-top: .2rem;
          & a:nth-child(2) {
            color: #4285f4;
            font-size: 2.5rem;
            &:hover {
              color: #6db9ef;
            }
          }
          & a:nth-child(1) {
            color: #0077b5;
            font-size: 2.5rem;
            &:hover {
              color: #6db9ef;
            }
          }
        }
      }

      & .dir-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.2rem;
        & .main-heading {
          font-weight: 500;
          font-size: 2rem;
        }
        & .sub-heading {
          font-size: 1.8rem;
          color: rgba(0, 0, 0, 0.7);
        }
        & p {
          font-size: 1.6rem;
          text-align: justify;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}

/* ? BoD section end here */
