/* main part  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Urbanist";
}
:root {
  --text-color: #fff;
}

/* ? Bod section start here */
.blog-section {
  margin-top: 10rem;
  & .blog-container {
    display: flex;
    flex-direction: column;
    & .blog-heading {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 2.4rem;
      width: 100%;
      padding: 3rem;
      text-align: center;
    }
    & .blog-contents {
      cursor: pointer;
      display: flex;
      justify-content: center;
      gap: 2rem;
      & .blog-1 {
        height: 60rem;
        width: 40rem;
        /*background-color: rgba(0,0,0,.1);
          */
        background-color: #96efff;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        -webkit-border-radius: 1rem;
        & img {
          height: 70%;
          width: 100%;
          border-top-right-radius: 1rem;
          border-top-left-radius: 1rem;
        }
        & .title {
          font-size: 1.6rem;
          padding-left: 2rem;
          padding-top: 1rem;
        }

        & .content-heading {
          padding: 2rem 0rem 0rem 2rem;
          font-size: 2.2rem;
        }
        & p {
          text-align: justify;
          font-size: 2rem;
          padding: 1rem 1rem 0rem 2rem;
          font-style: italic;
        }
      }
    }
    & .blog-action {
      cursor: pointer;
      margin-top: 4rem;
      display: flex;
      justify-content: center;

      & .fa-solid {
        font-size: 4rem;
        color: #3081d0;
      }
    }
  }
}
/* Blog section end here */
