/* ? main part  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto";
}
:root {
  --text-color: #fff;
  --font-icon--color:#B31312;
  --text-color: #fff;
  --red-color: #9a031e;
  --green-color: #304d30;
  --blue-color: #4cb9e7;
  --main-color: #0c0d13;
  --hover-color: #6db9ef;
  --border-color: #b34549;
  --green-color:#45b34a;
  --sub-content--color:rgba(0, 0, 0, 0.6);
}

/* ? about section start here */
.about-section {
  margin-top: 28rem;
  & .about-section--1 {
    display: grid;
    margin: 0rem 16rem;
    padding: 4rem;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, minmax(250px));
    column-gap: 2rem;
    row-gap: 2rem;

    & .sub-section--1 {
      & img {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        object-fit: cover;
      }
    }
    & .sub-section--2 {
      & .sub-heading {
        font-size: 1.6rem;
        text-transform: uppercase;
        padding: 1rem 1rem 1rem 0rem;
        &::after {
          display: inline-block;
          content: "";
          width: 4rem;
          border-top: 0.2rem solid var(--border-color);
          margin: 0 1rem;
          transform: translateY(-0.5rem);
          -webkit-transform: translateY(-0.5rem);
          -moz-transform: translateY(-0.5rem);
          -ms-transform: translateY(-0.5rem);
          -o-transform: translateY(-0.5rem);
        }
      }
      & .main-heading {
        font-weight: 600;
        font-size: 4rem;
        width: 100%;
        padding: 0rem 1rem 2rem 0rem;
        /* & .color-1 {
          color: #45b34a;
          color:var(--font-color);
        }
        & .color-2 {
          color: #45b34a;
          color:var(--font-color);
        } */
      }
      & .content-1 {
        color: var(--sub-content--color);
        font-size: 1.6rem;
        line-height: 1.5;
        word-spacing: 1.5;
        text-align: justify;
      }
      & .content-2 {
        color: var(--sub-content--color);
        line-height: 1.5;
        word-spacing: 1.5;
        font-size: 1.6rem;
        text-align: justify;
      }
    }
    & .sub-section--3 {
      display: flex;
      gap: 1rem;
      & .icon {
        /* color: #45b34a; */
        color: var(--font-icon--color);
        font-size: 4rem;
      }
      & .contents {
        padding-right: 1.5rem;
        & .heading {
          font-weight: 700;
          font-size: 1.9rem;
        }
        & .details {
          color: var(--sub-content--color);
          font-size: 1.6rem;
          text-align: justify;
          line-height: 1.5;
          word-spacing: 1.2;
        }
      }
    }
    & .sub-section--4 {
      display: flex;
      gap: 1rem;
      & .icon {
        /* color: #45b34a; */
        color:var(--font-icon--color);
        font-size: 4rem;
      }
      & .contents {
        & .heading {
          font-weight: 700;
          font-size: 1.9rem;
        }
        & .details {
          color: var(--sub-content--color);
          font-size: 1.6rem;
          text-align: justify;
          line-height: 1.5;
          word-spacing: 1.2;
        }
      }
    }
  }
  & .about-section--2 {
    padding: 4rem;
    margin-top: 40rem;
    display: flex;
    flex-direction: column;
    margin: 0rem 16rem;
    & .header-title {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.6rem;

      & .sub-header {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: var(--sub-content--color);
        &::after,
        &::before {
          display: inline-block;
          content: "";
          width: 4rem;
          margin: 0 1rem;
          border-top: 0.2rem solid var(--border-color);
          transform: translateY(-0.5rem);
          -webkit-transform: translateY(-0.5rem);
          -moz-transform: translateY(-0.5rem);
          -ms-transform: translateY(-0.5rem);
          -o-transform: translateY(-0.5rem);
        }
      }
      & .main-header {
        font-weight: 600;
        font-size: 4rem;
        & .color-3 {
          /* color: green; */
          color:var(--font-icon--color);
        }
      }
      & .header-content {
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.6rem;
        width: 55%;
        text-align: center;
      }
    }

    & .header-section {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      & .header-section--content {
        display: flex;
        gap: 1rem;

        & .icon-header {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          & .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 25%;
            border: 0.2rem solid var(--border-color);
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            & i {
              font-size: 2rem;
              color: var(--font-icon--color)
            }
          }
        }

        & .contents {
          & .heading {
            font-weight: 500;
            font-size: 1.9rem;
            letter-spacing: 0.1rem;
          }
          & .details {
            color: rgba(0, 0, 0, 0.6);
            font-size: 1.6rem;
            line-height: 1.5;
            word-spacing: 1.5;
            text-align: justify;
          }
        }
      }
    }
  }
}

/* ? about section end here */
