html {
  font-size: 62.5%;
}

.admin-section {
  margin-top: 7.3rem;
}

.admin-content {
  color: #000;
}

.container{
  margin: 0 19rem;
}

.admin-section .container {
  margin: 0 19.4rem;
}

.admin-section .container .main-heading {
  font-size: 3.8rem;
  font-weight: 300;
}

.admin-section .nav-container {
  display: flex;
  justify-content: space-around;
}

.admin-section .nav-container .nav-bars ul li a {
  color: #000;
  font-weight: 300;
  font-size: 1.8rem;
}



.admin-section .nav-container .nav-bars ul li a:hover {
  color: #ec180d;
}

.admin-section .nav-container .nav-bars .hover-effectors .display-product,
.admin-section .nav-container .nav-bars .hover-effectors .display-company {
  color: #000;
  font-weight: 300;
}

.admin-section
  .nav-container
  .nav-bars
  .hover-effectors
  .display-product:hover {
  color: #ec180d;
}
.admin-section
  .nav-container
  .nav-bars
  .hover-effectors
  .display-company:hover {
  color: #ec180d;
}

.admin-section
  .nav-container
  .nav-bars
  .hover-effectors
  .display-product
  .drop-down--product
  a {
  color: #000;
  /* font-weight: 300; */
}
.admin-section
  .nav-container
  .nav-bars
  .hover-effectors
  .display-company
  .drop-down--company
  a {
  /* font-weight: 300; */
  color: #000;
}

.admin-effect--background {
  display: none;
}
