
html{
    font-size: 62.5%;
}

.admin-section{
    margin-top: 7.3rem;
}

.admin-content{
    color: #000;
}

.admin-section .container{
    margin:0 19.4rem;
}

.admin-section .container .main-heading{
    font-size: 3.8rem;
    font-weight: 300;
}