/* ? main part */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
}

:root {
  --text-color: #fff;
  --bg-color: #c82331;
  --joon-main-color: #ec180d;
  --section-bg--color: hsl(0, 0%, 87%);
  --form-container--color: hsl(0, 0%, 97%);
}

/* ? userLogin section start */
.user-login--section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--section-bg--color);
  & .form-container {
    height: 33rem;
    width: 32rem;
    background-color: var(--form-container--color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    & .login-heading {
      font-size: 2.4rem;
      text-align: center;
      font-weight: 500;
      padding: 2rem 0rem;
    }
    & .login-container {
      padding: 0rem 2rem 1rem 2rem;
      & li {
        font-size: 1.6rem;
        list-style: none;
        padding-bottom: 0.5rem;
        & i {
          font-size: 1.5rem;
        }
      }
      & input {
        width: 100%;
        height: 4rem;
        outline: none;
        padding: 0rem 0.4rem;
      }
    }
    & .forget-pass {
      display: flex;
      justify-content: flex-end;
      padding: 0rem 2rem 1rem 2rem;
      font-size: 1.6rem;
    }
    & .login-button {
      padding: 0rem 2rem 1rem 2rem;
      & .btn {
        cursor: pointer;
        font-size: 1.6rem;
        color: var(--text-color);
        border: none;
        width: 100%;
        height: 4rem;
        background-color: var(--joon-main-color);
        border-radius: 1.5rem;
        -webkit-border-radius: 1.5rem;
        -moz-border-radius: 1.5rem;
        -ms-border-radius: 1.5rem;
        -o-border-radius: 1.5rem;
        &:hover {
          background-color: var(--joon-main-color);
        }
      }
    }
    & .account {
      text-align: center;
      font-size: 1.6rem;
      padding-bottom: 2rem;
    }
  }
}

/* ? userLogin section end */
/* ? user-register section start here */

.user-register--section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--section-bg--color);
  & .form-container {
    height: 41rem;
    width: 32rem;
    background-color: var(--form-container--color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    & .register-heading {
      font-size: 2.4rem;
      text-align: center;
      padding: 2rem 0rem;
      font-weight: 500;
    }
    & .register-container {
      padding: 0rem 2rem 1rem 2rem;
      & input {
        width: 100%;
        height: 4rem;
        outline: none;
        padding-left: 0.4rem;
        &::placeholder {
          font-size: 1.5rem;
        }
      }
    }
    & .register-button {
      padding: 0rem 2rem 1rem 2rem;
      & .btn {
        cursor: pointer;
        border: none;
        width: 100%;
        height: 4rem;
        font-size: 1.5rem;
        color: var(--text-color);
        background-color: var(--joon-main-color);
        border-radius: 1.5rem;
        -webkit-border-radius: 1.5rem;
        -moz-border-radius: 1.5rem;
        -ms-border-radius: 1.5rem;
        -o-border-radius: 1.5rem;
      }
    }
    & .account {
      text-align: center;
      font-size: 1.6rem;
    }
  }
}

/* ? user-register section end here */
/* ? Forgetpass section start */

.forget-password--section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--section-bg--color);
  & .forget-container {
    height: 25rem;
    width: 40rem;
    background-color: var(--form-container--color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    & .heading {
      font-size: 2.4rem;
      text-align: center;
      padding: 2rem 0rem;
    }
    & .resetemail {
      margin: 0rem 2rem;
      & p {
        padding-bottom: 0.5rem;
        font-size: 1.6rem;
      }
      & input {
        height: 4rem;
        width: 100%;
        &::placeholder {
          font-size: 1.6rem;
        }
      }
      & input[type="text"] {
        padding-left: 0.5rem;
        font-size: 1.6rem;
      }
    }
    & .reset-button {
      padding: 2rem 2rem;
      & .btn {
        font-size: 1.6rem;
        cursor: pointer;
        color: var(--text-color);
        background-color: var(--joon-main-color);
        border: none;
        width: 100%;
        height: 4rem;
        border-radius: 1.5rem;
        -webkit-border-radius: 1.5rem;
        -moz-border-radius: 1.5rem;
        -ms-border-radius: 1.5rem;
        -o-border-radius: 1.5rem;
      }
    }
  }
}

/* ? Forgetpass section end */
/* * Media QUERY */
/* * Login Section */
@media (max-width: 1220px) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 280px) {
  .user-login--section .form-container {
    height: 40rem;
    width: 25rem;
  }
}

/* * Sigin/Register section */
@media (max-width: 280px) {
  .user-register--section .form-container {
    height: 45rem;
    width: 25rem;
  }
}

/* * Forget/Reset password section */
@media (max-width: 280px) {
  .forget-password--section .forget-container {
    height: 25rem;
    width: 25rem;
  }
}
