/* ? main part  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto";
}
:root {
  --text-color: #fff;
  --red-color: #9a031e;
  --green-color: #304d30;
  --blue-color: #4cb9e7;
  --main-color: #0c0d13;
  --hover-color: #6db9ef;
  --border-color: #b34549;
}

/* ? management-section start here */

.management-section {
  margin: 8rem 16rem 0rem 16rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  & .management-team--heading {
    text-transform: capitalize;
    font-size: 4rem;
    text-align: center;
  }

  & .management-team--content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0rem 3rem;
    & .developer-section {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      & .developer-heading {
        text-transform: capitalize;
        font-size: 2.5rem;
        text-align: center;
        &::after,
        &::before {
          display: inline-block;
          content: "";
          width: 1.5rem;
          margin: 0 0.2rem;
          border-top: 0.2rem solid var(--border-color);
          transform: translateY(-0.7rem);
          -webkit-transform: translateY(-0.7rem);
          -moz-transform: translateY(-0.7rem);
          -ms-transform: translateY(-0.7rem);
          -o-transform: translateY(-0.7rem);
        }
      }

      & .developer-container {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 2rem;

        & .developer-info {
          display: flex;
          gap: 2rem;
          & .logo-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & .logo {
              & img {
                height: 12rem;
                width: 12rem;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
              }
            }
            & .social-icon {
              display: flex;
              justify-content: center;
              align-self: center;
              gap: 0.5rem;
              & a {
                cursor: pointer;
                font-size: 2rem;
                &:hover {
                  color: var(--hover-color);
                }
              }
            }

            & .rgb-design {
              margin-top: 0.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              & .size {
                height: 1rem;
                width: 1rem;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
              }
              & .red {
                background-color: var(--red-color);
              }
              & .green {
                background-color: var(--green-color);
              }
              & .blue {
                background-color: var(--blue-color);
              }
            }
          }

          & .info-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            & .info-heading {
              font-size: 2rem;
            }
            & .info-sub--heading {
              font-size: 1.8rem;
              color: var(--main-color);
            }
            & p {
              font-size: 1.6rem;
              text-align: justify;
              color: rgba(0, 0, 0, 0.6);
            }
          }
        }
      }
    }
  }
}

/* ? management-section end here */
