/* ? main part */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --font-color: #fff;
  --center-content--color: rgba(255, 255, 255, 0.5);
}

/*? Header section start */
.header-section .nav-container {
  /* position:fixed; */
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.header-section .center-content--bank {
  position: absolute;
  height: 40rem;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--center-content--color);
  font-size: 1.4rem;
  background-color: black;
  &::after {
    content: "\201D";
  }
  &::before {
    content: "\201C";
  }
}

.header-section .center-content--bank img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.logo-section {
  z-index: 2;
  display: flex;
  align-items: center;
}

.nav-container .nav-bars ul li {
  list-style: none;
}

.nav-container .nav-bars ul li a {
  text-decoration: none;
  color: var(--font-color);

  &:hover {
    color: red;
  }
}

.nav-bars ul li .a-3 {
  text-wrap: nowrap;
}

.nav-container .nav-bars {
  position: relative;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.2rem;
  z-index: 2;
}

.nav-container .nav-bars .hover-effectors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.2rem;
  margin: 0rem 2rem;
}

.display-product a,
.display-company a {
  color: var(--font-color);
  text-decoration: none;
}

.display-product {
  color: var(--font-color);
  display: inline-block;
  position: relative;
  &:hover {
    color: red;
  }
}

.drop-down--product {
  display: none;
  position: absolute;
  min-width: 25rem;

  & a {
    display: flex;
    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.display-product:hover .drop-down--product {
  display: block;
}

.display-company {
  position: relative;
  color: var(--font-color);
  &:hover {
    color: red;
  }
}

.drop-down--company {
  display: none;
  position: absolute;
  min-width: 25rem;

  & a {
    display: flex;
    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.display-company:hover .drop-down--company {
  display: block;
}

.hover-effect--background {
  top: 0;
  left: 0;
  width: 100vw;
  height: 27rem;
  position: absolute;
  background-color: #4cb9e7;
}

.none {
  height: 0rem;
  width: 0rem;
  display: none;
}

.logo-section img {
  height: 13rem;
  width: 12rem;
}

/* ? Header section end */
/* * MEDIA QUERY */
@media (max-width:998px) {
  .header-section .center-content--bank{
    height: 40rem;
  }
}
@media (max-width:600px) {
  .header-section .center-content--bank{
    height: 20rem;
  }
}
@media (max-width:430px) {
  .header-section .center-content--bank{
    height: 20rem;
  }
  .header-section .nav-container .logo-section img{
    height: 5.5rem;
    width: 5.5rem;
  }
}
@media (max-width:360px) {
  .header-section .center-content--bank{
    height: 20rem;
  }
  .header-section .nav-container .logo-section img{
    height: 7rem;
    width: 7rem;
  }
}

