/* ? main part  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto";
}
:root {
  --text-color: #fff;
  --font-icon--color: #3081d0;
  --main-heading--color: #263671;
  --sub-content--color: rgba(0, 0, 0, 0.7);
  --job-heading--color:#7c6576;
  --box-shadow--color:rgba(0, 0, 0, 0.16);
}

/* ? career section start here */
.career-section {
  margin: 28rem 16rem 0rem 16rem;
  & .career-heading--section {
    text-align: center;
    margin-bottom: 6rem;
    & .main-heading {
      font-size: 3.2rem;
      color: var(--main-heading--color);
      padding: 1rem;
      text-transform: capitalize;
    }
    & .main-details {
      font-size: 1.6rem;
      text-align: center;
      color: var(--sub-content--color);
    }
  }

  & .career-main--section {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 2fr);
    gap: 3rem;
    padding: 0rem 2rem;
    margin-bottom: 6rem;

    & .content-container {
      display: flex;
      gap: 1.2rem;
      & .logo {
        & i {
          font-size: 4rem;
          color: var(--font-icon--color);
        }
      }
      & .content-details {
        & .content-heading {
          padding-bottom: 0.5rem;
          font-size: 1.8rem;
          font-weight: 400;
          text-transform: capitalize;
          color: var(--sub-content--color);
        }
        & .content-details {
          font-size: 1.6rem;
          text-align: justify;
          word-spacing: 1.5;
          color: var(--sub-content--color);
        }
      }
    }
  }

  & .career-job--section {
    display: flex;
    flex-direction: column;

    & .heading {
      font-size: 3.2rem;
      text-align: center;
      color: var(--main-heading--color);
      text-transform: capitalize;
    }
    & .job-container {
      display: flex;
      margin-top: 2.4rem;
      gap: 4rem;
      & .job-container--one {
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: var(--box-shadow--color) 0px 1px 4px;
        & .job-heading {
          font-size: 2.8rem;
          color: var(--job-heading--color);
        }
        & .job-details {
          font-size: 1.6rem;
          text-align: center;
          color:var(--sub-content--color);
        }
      }
    }
  }
}
/* ? career section end here */
