/* ? Main part  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
}

:root {
  --text-color: #fff;
  --font-icon--color: #3081d0;
  --main-heading--color: #263671;
  --sub-content--color: rgba(0, 0, 0, 0.7);
  --job-heading--color: #7c6576;
  --box-shadow--color: rgba(0, 0, 0, 0.16);
  --joon-main-color: #ec180d;
}

/* ? career section start here */
.career-section {
  margin: 36rem 16rem 0rem 16rem;
  & .career-heading--section {
    text-align: center;
    margin-bottom: 6rem;
    & .main-heading {
      font-size: 3.2rem;
      color: var(--main-heading--color);
      padding: 1rem;
      text-transform: capitalize;
    }
    & .main-details {
      font-size: 1.9rem;
      font-weight: 300;
      text-align: center;
      padding: 0 2rem;
      color: var(--sub-content--color);
    }
  }
  & .career-main--section {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 2fr);
    column-gap: 12rem;
    row-gap: 5rem;
    padding: 0rem 2rem;
    margin-bottom: 6rem;
    & .content-container {
      display: flex;
      gap: 4rem;
      & .logo {
        & i {
          cursor: pointer;
          font-size: 4rem;
          opacity: 50%;
        }
      }
      & .content-details {
        & .content-heading {
          padding-bottom: 1rem;
          font-size: 2rem;
          font-weight: 500;
          text-transform: capitalize;
          color: var(--sub-content--color);
        }
        & .content-details {
          font-size: 1.8rem;
          text-align: none;
          font-weight: 300;
          word-spacing: 1.5;
          color: var(--sub-content--color);
        }
      }
    }
  }
  & .career-job--section {
    display: flex;
    flex-direction: column;
    & .heading {
      font-size: 3.2rem;
      text-align: center;
      color: var(--main-heading--color);
      text-transform: capitalize;
    }
    & .job-container {
      display: flex;
      margin-top: 2.4rem;
      gap: 4rem;
      & .job-container--one {
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: var(--box-shadow--color) 0px 1px 4px;
        & .job-heading {
          font-size: 2.7rem;
          color: var(--job-heading--color);
        }
        & .job-details {
          font-size: 1.9rem;
          padding: 0rem 2rem;
          font-weight: 300;
          padding-top: 1rem;
          text-align: justify;
          color: var(--sub-content--color);
        }
      }
    }
  }
}

.career-section .career-main--section .content-container .logo i:hover {
  color: var(--joon-main-color);
  opacity: 100%;
}

/* ? career section end here */
/* * Media QUERY */
@media (max-width: 1220px) {
  html {
    font-size: 54%;
  }
}

@media (max-width:998px) {
  .career-section .career-main--section {
    display: flex;
    flex-direction: column;
  }
  .career-section .career-job--section .job-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .career-section {
    margin: 36rem 5rem 0rem;
  }
}

@media (max-width: 440px) {
  .career-section .career-main--section {
    display: flex;
    flex-direction: column;
  }
  .career-section .career-job--section .job-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:380px) {
  .career-section .career-main--section .content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .career-section .career-job--section .job-container .job-container--one{
    height: 25rem;
  }
}

@media (max-width: 280px) {
  .career-section {
    margin: 36rem 2rem 0rem;
  }
  .career-section .career-heading--section .main-heading {
    font-size: 3rem;
  }
  .career-section .career-main--section .content-container {
    display: flex;
    flex-direction: column;
  }
}
