/* ?main part */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --text-color: #fff;
  --side-flex-bgcolor: #1b1f25;
  --red-color: #9a031e;
  --news-date--color: rgba(0, 0, 0, 0.4);
  --footer-background: rgba(0, 0, 0, 0.05);
  --companies-heading--color: rgba(0, 0, 0, 0.6);
  --sub-content--color: rgba(0, 0, 0, 0.6);
  --copyright-color: rgba(0, 0, 0, 0.5);
  --media-icon--color: #777;
}

/* ? nav section start here */

/*? Header section start */

.header-sectionl {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.header-section .nav-container {
  /* position:fixed; */
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.header-section .center-content {
  position: absolute;
  height: 39rem;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(237, 226, 226);
  font-size: 1.8rem;
}

/* .header-section .center-content img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
} */

.header-section .center-content video {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

.logo-section {
  z-index: 2;
  display: flex;
  align-items: center;
}

.nav-container .nav-bars ul li {
  list-style: none;
}

.nav-container .nav-bars ul li a {
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    color: red;
  }
}

.nav-container .nav-bars {
  position: relative;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.2rem;
  z-index: 2;
  /* color:#fff; */
}

.nav-container .nav-bars .hover-effectors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.2rem;
  margin: 0rem 0rem;
}

.display-product a,
.display-company a {
  color: var(--text-color);
  text-decoration: none;
}

.display-product {
  color: var(--text-color);
  display: inline-block;
  position: relative;
  &:hover{
    color: red;
  }
}


.drop-down--product {
  display: none;
  position: absolute;
  min-width: 25rem;
  padding: 1rem 0rem;

  & a {
    display: flex;
    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.display-product:hover .drop-down--product {
  display: block;
}

.display-company {
  color: var(--text-color);
  /* display: inline-block; */
  position: relative;
  &:hover {
    color: red;
  }
}

.drop-down--company {
  display: none;
  position: absolute;
  min-width: 25rem;
  padding: 1rem 0rem;

  & a {
    display: flex;
    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.display-company:hover .drop-down--company {
  display: block;
}

.hover-effect--background {
  position: absolute;
  /* z-index: -3; */
  height: 27rem;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: transparent;
  }
}

.none {
  height: 0rem;
  width: 0rem;
  display: none;
}

.logo-section img {
  height: 13rem;
  width: 12rem;
}

/* Header section end */

/* ? nav/header section end here */

/* ? main body start here */
/* main section start here */
.main {
  width: 100vw;
  margin-top: 52rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .main-heading {
    padding: 2rem;
    width: 110rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.8rem;
    text-align: center;
    line-height: 1.5;
  }

  & .main-content {
    margin-top: 4rem;
    width: 110rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    & .icon {
      font-size: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .heading {
      font-size: 2.4rem;
      /* font-weight: bold; */
      text-align: center;
    }

    & p {
      font-size: 1.8rem;
      text-align: center;
      word-spacing: 0.2rem;
    }
  }
}

/* main section end here */

/* boxes section */
.boxes {
  margin: 10rem 0rem;
  display: flex;

  & .side-flex {
    width: 33.33%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #1b1f25;

    & .flex-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 26rem;
    }

    & .flex-1 {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      & .box-content {
        padding-left: 8rem;
        padding-top: 6rem;
        width: 100%;

        & .heading {
          cursor: pointer;
          font-size: 2.4rem;
          position: relative;
          height: 4rem;
          display: flex;
          align-items: center;
          transition: all ease-in 0.2s;
          -webkit-transition: all ease-in 0.2s;
          -moz-transition: all ease-in 0.2s;
          -ms-transition: all ease-in 0.2s;
          -o-transition: all ease-in 0.2s;
        }
      }
      &:hover .heading {
        position: absolute;
        height: 3.5rem;
        padding-left: 1.7rem;
        margin-left: 2rem;
        border-left: 0.5rem solid var(--red-color);
      }
    }
  }

  & .right-grid {
    width: 66.67%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));

    & .box1 {
      height: 39rem;
      animation: lefttoright 0.3s linear;
      -webkit-animation: lefttoright 0.3s linear infinite;
      position: relative;
      overflow: hidden;

      & .heading {
        margin-top: -3rem;
        position: absolute;
        top: 85%;
        padding-left: 4rem;
        font-size: 2rem;

        & .sub-heading {
          font-size: 1.5rem;
          /* display: none; */
        }
      }
      &:hover .heading {
        margin-top: -6.5rem;
        transition: 0.2s ease-in;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -ms-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
      }

      &:hover .sub-heading {
        font-size: 1.5rem;
        padding-left: 4rem;
        margin-top: -8.5rem;
        display: block;
        color: var(--text-color);
      }
    }

    @keyframes lefttoright {
      0% {
        background-image: linear-gradient(
          to right top,
          #0f0505,
          #100707,
          #110909,
          #110b0b,
          #120d0d
        );
      }
      100% {
        background-image: linear-gradient(
          to right top,
          #261717,
          #271818,
          #281a1a,
          #2a1b1b,
          #2b1d1d
        );
      }
    }

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  & .heading {
    color: var(--text-color);
    font-size: 2.4rem;
  }
}

/* boxes section end */

/* photo-info & news section start */

.photo-news {
  margin-top: 11rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

  & .photo-info {
    position: relative;
    width: 50vw;
    text-align: right;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;

    & .img-container {
      position: relative;
      & img {
        height: 70rem;
        width: 70%;
        object-fit: cover;
      }
      & .overlay {
        width: 70%;
        position: absolute;
        top: 45%;
        right: 0;
        text-align: left;
        color: var(--text-color);
        font-size: 2rem;
        padding: 2rem;
        line-height: 2.5rem;

        & .name {
          margin-bottom: 1rem;
        }

        & .forward-backward {
          margin-top: 3rem;
          display: flex;
          justify-content: flex-end;
          gap: 4.5rem;
          & i {
            cursor: pointer;
            font-size: 2.4rem;
            font-weight: 100;
            color: var(--text-color);
          }
        }
      }
      & .name {
        margin-top: 2.8rem;
      }
      & .action {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;

        & button {
          cursor: pointer;
          border: 0.1rem solid #fff;
          color: var(--text-color);
          background: transparent;
          height: 3.3rem;
          width: 8.7rem;
          border-radius: 0.5rem;
          -webkit-border-radius: 0.5rem;
          -moz-border-radius: 0.5rem;
          -ms-border-radius: 0.5rem;
          -o-border-radius: 0.5rem;
        }

        & button:hover {
          background-color: var(--text-color);
          color: var(--red-color);
        }
      }
    }
  }
  & .news {
    & .news-heading {
      font-size: 3.6rem;
      margin-bottom: 3rem;
    }

    & .news-div--1 {
      display: flex;
      gap: 1.5rem;

      & .image-section {
        display: flex;
        justify-content: flex-start;
        & img {
          height: 10rem;
          width: 11rem;
          border-radius: 0.5rem;
          -webkit-border-radius: 0.5rem;
          -moz-border-radius: 0.5rem;
          -ms-border-radius: 0.5rem;
          -o-border-radius: 0.5rem;
        }
      }
      & .news-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & .news-section--heading {
          line-height: 1.5;
          height: 6rem;
          width: 38.4rem;
          font-size: 2rem;
          overflow: hidden;
        }
        & .news-date {
          font-size: 1.6rem;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
    & .mb-t {
      margin-top: 4rem;
    }

    & .news-button {
      margin-top: 5.1rem;

      & button {
        cursor: pointer;
        height: 5.5rem;
        width: 17.5rem;
        font-size: 1.5rem;
        border: 0.1rem solid var(--red-color);
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;

        &:hover {
          background-color: var(--red-color);
          color: var(--text-color);
        }
      }
    }
  }
}

/* photo-info & news section end */
/* ? main body end here */

/* ? Footer-section start here */

.footer-section {
  margin-top: 14rem;
  background-color: rgba(0, 0, 0, 0.05);

  & .footer-container {
    display: flex;
    padding: 7rem 22rem 2rem 22rem;
    gap: 7rem;

    & .compaines-section {
      display: flex;
      flex-direction: column;
      width: 75rem;

      & .compaines-heading {
        font-size: 1.8rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.6);
        text-transform: uppercase;
      }
      & .mb {
        margin-bottom: 2rem;
      }
      & .companies-logos {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 2rem;
        & .logo {
          cursor: pointer;
          height: 5.4rem;
          width: 9rem;
          display: flex;
          justify-content: center;
          align-items: center;
          & img {
            height: 4.4rem;
            width: 8.4rem;
            font-size: 1.5rem;
          }
          & .f1 {
            height: 4.4rem;
            width: 4.4rem;
          }
          & .f2 {
            height: 4.4rem;
            width: 8.4rem;
          }
        }
      }

      & .copyright {
        margin-top: 4rem;
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.5);
      }
    }

    & .contact-section {
      & .contact-heading {
        font-weight: 600;
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.6);

        text-transform: uppercase;
      }
      & .contact-info {
        margin-top: 2rem;
        & li {
          margin-top: 1rem;
          font-size: 1.6rem;
          list-style: none;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.4);

          & i {
            margin-right: 0.5rem;
          }
          & a {
            text-decoration: none;
          }
        }
      }
      & .media-section {
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 3rem;
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.6);
      }
      & .media {
        margin-top: 3rem;
        display: flex;
        gap: 1.5rem;
        & .media-logo {
          & svg {
            height: 3.2rem;
            width: 3.2rem;
            color: var(--media-icon--color);
          }
        }
      }
    }
  }
}

/* ? Footer-section end here */
